@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
.container {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  font-family: "Inter", serif;
}
.content {
  max-width: 1150px;
  margin: 0 auto;
}
:root {
  --grey: #33383f;
  --blue: #0070a0;
}
@theme {
  --font-inter: "Inter", serif;
  --font-fraunces: "Fraunces", serif;
}
.booking-list li{
  display: flex;
  align-items: center;
  gap: 8px;
}
footer span{
  color: var(--blue);
}
footer h6{
  font-size: 15px;
  margin-bottom: 16px;
}
footer ul li{
  color: var(--grey);
  margin-bottom: 10px;
}
